.text-button, .filled-button, .ghost-button {
    cursor: pointer;
    user-select: none;
    padding: 14px 20px;
    transition: all ease 0.1s;
    color: var(--white-color);
    height: fit-content;
    width: fit-content;
    text-align: center;
    min-width: 90px;
    box-shadow: 0 2px 4px 0 #2d2d2d;
}

.text-button {
    box-shadow: none;
}

.text-button:hover {
    transform: scale(110%);
}

.text-button:active {
    transform: scale(100%);
}

.filled-button {
    border-radius: 30px;
    background-color: var(--primary-secondary-color);
}

.filled-button:hover {
    background-color: var(--primary-primary-color);
}

.filled-button:active {
    background-color: var(--white-color);
    color: var(--black-color);
}

.ghost-button {
    background-color: transparent;
    outline: 2px var(--white-color) solid;
    outline-offset: -2px;
    border-radius: 12px;
    color: var(--white-color);
}

.ghost-button:hover{
    transform: scale(105%);
}

.ghost-button:active {
    transform: scale(100%);
}