@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}

html {
    /* Solid Color */
    --white-color: #E8E8E8;
    --black-color: #000000;

    --primary-primary-color: #03ac13;
    --primary-secondary-color: #1b9f28;
    --primary-tertiary-color: #2f9339;
    --primary-quaternary-color: #3f8646;

    --secondary-primary-color: #ac0603;
    --secondary-secondary-color: #9f1d1b;
    --secondary-tertiary-color: #93302f;
    --secondary-quaternary-color: #86403f;

    /* w/ Opacity */
    --white-color-50: #E8E8E880;
    --black-color-50: #00000080;

    --primary-primary-color-50: #03ac13BF;
    --primary-secondary-color-50: #1b9f2880;
    --primary-tertiary-color-50: #2f9339E6;
    --primary-quaternary-color-50: #3f864680;

    --secondary-primary-color-50: #ac060380;
    --secondary-secondary-color-50: #9f1d1b80;
    --secondary-tertiary-color-50: #93302f80;
    --secondary-quaternary-color-50: #86403f80;
}

* {
    font-weight: bolder;
    font-family: 'Poppins'!important;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: var(--white-color);
}

p {
    margin-bottom: 0;
}

#contentWrapper {
    width: 100%;
    height: 100vh;
}

#leftSidenav, #rightSidenav {
    position: fixed;
}

#leftSidenav {
    display: flex;
    align-items: start;
    float: left;
    left: 0;
    width: 50%;
    min-height: 100vh;
}

#rightSidenav {
    display: flex;
    float: right;
    flex-direction: column;
    right: 0;
    background-color: var(--primary-quaternary-color);
    width: 50%;
    min-height: 100vh;
    text-align: center;
}

#rightSidenav #brgyName {
    display: none!important;
}

#topvarContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    z-index: 2;
}

#buttonContainer{
    justify-content: end;
    align-items: center;
    display: flex;
    gap: 10px;
}

#brgyName {
    padding: 18px 0px;
    font-size: 32px;
    color: var(--primary-tertiary-color);
}

#contentContainer {
    height: 100vh;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
}

#content {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0;
}

#rightWrapper, #leftWrapper {
    width: 50%!important;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    #contentContainer {
        align-items: center;
        justify-content: center;
    }

    #content {
        flex-direction: column;
    }

    #rightWrapper, #leftWrapper{
        width: 100%!important;
    }

    #leftSidenav {
        display: none;
    }

    #rightSidenav {
        width: 100%;
        background-color: var(--white-color);
    }
    
    #rightSidenav #brgyName {
        display: flex!important;
        padding: 0;
    }

    #topvarContainer {
        background-color: var(--primary-quaternary-color);
    }

    #topvarContainer #brgyName{
        color: var(--white-color);
    }

    @media (max-height: 1200px) {
        #content {
            margin-top: 120px;
        }
    }
}

@media (max-width: 576px) {
    #topvarContainer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: transparent;
        padding: 0;
    }

    #content {
        margin-top: 150px;
    }

    #topvarContainer #brgyName{
        padding: 18px 40px;
        background-color: var(--primary-quaternary-color);
    }

    #buttonContainer p {
        color: var(--secondary-primary-color)!important;
    }

    #brgyName {
        justify-content: center;
        align-items: center;
    }

    #buttonContainer {
        padding: 14px;
        justify-content: center;
    }

    .filled-button:active {
        background-color: var(--black-color)!important;
        color: var(--white-color)!important;
    }

    #signInAccount {
        color: var(--secondary-primary-color);
    }
}

@media (max-width: 405px) {

    #buttonContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #rightSidenav #brgyName {
        text-align: center;
    }

    #topvarContainer {
        background-color: transparent;
        padding: 0;
    }

    #content {
        margin-top: 200px;
    }
}