#loginWrapper, #headerWrapper {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    margin-top: 50px;
}

#topvarContainer {
    right: 0;
    width: 100%;
    padding: 18px 40px;
}

#headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-color);
    border-radius: 30px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
}

.header {
    text-transform: uppercase;
    font-size: calc(18px + 6.406vw);
}

.header span{
    text-transform: none;
    font-size: calc(18px + 6.406vw);
    color: var(--primary-secondary-color);
}

#loginContainer {
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 60px 60px;
    border-radius: 30px;
    font-weight: bolder;
    min-width: 320px;
    max-width: 450px;
    width: 100%;
    text-align: center;
}

#loginContainer .filled-button:active {
    background-color: var(--primary-secondary-color);
    color: var(--white-color);
    transform: scale(95%);
    transition: all ease 0.1s;
}

.form-control {
    background-color: var(--primary-quaternary-color-50)!important;
    padding: 10px 24px;
    border-radius: 20px;
    outline: 2px var(--black-color) solid;
    outline-offset: -2px;
}

.margin {
    display: block;
    margin: 15px 0!important;
}

.a {
    font-weight: bolder;
    color: var(--secondary-primary-color);
    text-decoration: none;
    cursor: pointer;
}

.a:hover {
    text-decoration: underline;
}

label {
    display: inline!important;
}

#loginContainer form .form-header {
    font-size: 40px;
    text-align: center;
}

#loginContainer form .form-group {
    margin: 15px 0;
}

#loginContainer .filled-button {
    width: 100%;
    border: none;
}

@media (max-width: 1024px) {
    #loginLeftSidenav {
        display: none;
    }

    #loginRightSidenav {
        width: 100%;
        background-color: var(--white-color);
    }
    
    #loginRightSidenav #brgyName {
        display: flex!important;
        padding: 0;
    }

    #topvarContainer {
        width: 100%;
        background-color: var(--primary-quaternary-color);
    }

    #topvarContainer #brgyName{
        color: var(--white-color);
    }

    #headerWrapper {
        display: none;
    }

    #content {
        margin-top: 0;
    }
}

@media (max-width: 620px) {
    #topvarContainer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: transparent;
        padding: 0;
    }

    #contentContainer {
        height: auto;
    }

    #topvarContainer {
        position: static;
    }

    #topvarContainer #brgyName{
        background-color: var(--primary-quaternary-color);
    }

    #createAccount {
        color: var(--secondary-primary-color);
    }

    #brgyName {
        justify-content: center;
        align-items: center;
    }

    #buttonContainer {
        padding: 14px;
        justify-content: center;
    }

    #loginWrapper {
        padding: 0;
        margin: 0!important;
        height: calc(100vh - 164px);
    }

    .filled-button:active {
        background-color: var(--black-color)!important;
        color: var(--white-color)!important;
    }
}

@media (max-width: 405px) {

    #buttonContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #loginRightSidenav #brgyName {
        text-align: center;
    }

    #loginContainer {
        padding: 20px 40px;
    }

    #topvarContainer {
        background-color: transparent;
        padding: 0;
    }

    #createAccount {
        display: none;
    }

    @media (max-height: 800px) {
        #loginWrapper {
            align-items: start;
            justify-content: start;
        }
    }
}

@media (max-height: 720px) {
    #loginWrapper, #headerWrapper {
        align-items: start;
        margin-top: 70px;
    }
}