html {
    --body-color: #D9D9D9;

    --document-button-color: #5B5B5B;
    --hover-document-button-color: #35856F;
    --text-color: #FFFFFF;

    --request-bg-color: #7C7C7C;
}

* {
    user-select: none;
}

body {
    background-color: var(--body-color);
    background-image: none!important;
}

.request-container {
    width: 100%;
    height: 95%;
}

#document-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-height {
    height: calc(100% / 3);
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.document-btn {
    background-color: var(--document-button-color);
    color: var(--text-color);
    height: 180px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
}

.document-btn:hover {
    background-color: var(--hover-document-button-color);
    color: var(--text-color);
    transform: scale(105%);
    transition: all ease 0.3s;
}

.document-btn:active {
    background-color: var(--button-color);
    color: var(--text-color);
    transform: scale(100%);
    transition: all ease 0.1s;
}

.document-btn i {
    font-size: 75px;
}

.document-btn p {
    font-size: 20px;
    margin: 0;
}

#requested-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.requested-card {
    width: 90%;
    height: 95%;
    background-color: var(--request-bg-color);
    border-radius: 20px;
    display: grid;
}

.btn {
    max-width: 200px;
}

.card-height {
    height: 90%;
}

.button-height {
    height: 10%;
}

.requested-documents {
    padding: 20px;
    height: 85%;
    overflow: auto;
}

.requested-documents li {
    font-size: 18px;
    color: var(--text-color);
}

.button-container {
    align-self: end;
    justify-self: center;
    padding: 20px;
}

#submitRequest {
    width: 170px;
}

.has-no-document, .successful-submit-document {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-document, .request-submitted {
    text-align: center;
    color: var(--text-color);
}

.no-document i {
    font-size: 125px;
}

.request-submitted i {
    vertical-align: middle;
}

.no-document p, .request-submitted p {
    font-size: 18px;
}

#approvalBtn {
    width: 200px;
}
