#topvar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--primary-quaternary-color);
    padding: 18px 40px;
    width: 100%;
    color: var(--white-color);
}

#brgyName {
    font-size: 32px;
}

#topvarContainer p {
    padding: 14px 20px;
    color: var(--white-color);
} 
